main{
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img{
    width: 200px;
    height: auto;

}

nav{
background-color: #040024;
padding: 10px 10px;
}

nav a{
color:#ba88fa;
padding: 1px 1px;
display: block;
text-decoration: none;
}

main img{
    width: 150px;
    height: auto;
}

h1{
color:#040024;
font-size: 2em;
}

img{
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

p { padding: 0; }

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}